CT_EXPERIMENTAL=y
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_ARCH_ARM=y
CT_ARCH_ARM_INTERWORKING=y
# CT_ARCH_USE_MMU is not set
CT_ARCH_ARCH="armv7-a"
CT_ARCH_FPU="neon"
CT_ARCH_FLOAT_SOFTFP=y
CT_TARGET_CFLAGS="-fno-short-enums"
CT_TARGET_VENDOR="uefi"
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="git://github.com/efidroid/newlib.git"
CT_NEWLIB_DEVEL_BRANCH="master"
CT_NEWLIB_V_2_5_0=y
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
CT_CC_LANG_CXX=y
