CT_EXPERIMENTAL=y
# CT_PREFIX_DIR_RO is not set
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_ARCH_X86=y
CT_ARCH_64=y
CT_TARGET_VENDOR="uefi"
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="git://github.com/efidroid/newlib.git"
CT_NEWLIB_DEVEL_BRANCH="master"
CT_NEWLIB_V_2_5_0=y
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
CT_CC_LANG_CXX=y
